.app {
  position: absolute;
  inset: 0;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;

  > .header {
    flex: 0;
  }
  > .convertorSelector {
    flex: 0;
  }
  > .drop {
    flex: 1;
  }
}

.header {
  font-size: 120%;
  padding: 2rem;
  line-height: 1.2;
}

.convertorSelector {
  padding: 0 2rem;
}

.drop {
  background: whitesmoke;
  display: flex;
  flex-flow: column-reverse nowrap;
  text-align: center;
  position: relative;
  overflow: auto;

  .spanFull {
    position: absolute;
    inset: 2rem;
  }

  .log {
    text-align: left;
    font-size: 90%;
    padding: 2rem;
  }

  .copyLog {
    position: fixed;
    top: 1rem;
    right: 1rem;
  }
}

.hidden {
  display: none;
}

.inBold {
  font-weight: bold;
}
